<footer class="bg-neutral-700 border-t-4 border-blue-600 text-zinc-300 md:flex justify-around items-center p-5">
    <p class="flex justify-center gap-3 my-2 md:my-0 font-main"><lucide-angular [img]="copyRightIcon" class="my-icon"></lucide-angular> {{copyRightYear}} <span class="text-blue-600">LaunchA</span>. All rights reserved.</p>
    <div class="flex justify-center items-center my-2 md:my-0 gap-5">
        @for (link of footerLinks; track link.id) {
            <app-sociallink [webLink]="link"></app-sociallink>
        }
        <img src="logo.png" class="w-7" alt="Adham Gamal Logo">
    </div>
</footer>