<nav #theWholeNav class="fixed border-b-4 border-blue-600 top-0 start-0 end-0 bg-neutral-700 flex justify-around items-center py-4 text-zinc-200 font-main">
    <h2 class="text-3xl">Launch<span class="text-blue-600">A</span></h2>
    <ul class="hidden md:flex gap-8">
        @for (nav of navLinks; track nav.id) {
            <app-navlink [navigationLink]="nav"></app-navlink>
        }
    </ul>
    @if(isNavOpen){
        <lucide-angular #closeIcon (click)="toggleNav()" [img]="close" class="my-icon cursor-pointer md:hidden"></lucide-angular>
    }@else{
        <lucide-angular #barsIcon (click)="toggleNav()" [img]="bars" class="my-icon cursor-pointer md:hidden"></lucide-angular>
    }
</nav>
<ul #togglableNavbar [style.height.px]="isNavOpen ? navHeight : '0'" class="mob-navs py-5 flex flex-col overflow-hidden items-center gap-4 bg-gray-2 border-4 border-blue-600 text-zinc-200 font-main md:hidden">
    @for (nav of navLinks; track nav.id) {
        <app-navlink [class]="{'mt-15': $first , 'mb-5': $last}" [navigationLink]="nav"></app-navlink>
    }
</ul>