.moving-up {
    animation: floatUp 0.4s  ease-in-out ;
    top: 0;
}
@keyframes floatUp {
    from {
        top: 50%;
    }
    to {
        top: 0;
    }
}
.moving-down {
    animation: floatDown 0.4s  ease-in-out ;
    top: 50%;
}
@keyframes floatDown {
    from {
        top: 0;
    }
    to {
        top: 50%;
    }    

}
